/***********************/
/* GENERAL AND HELPERS */
/***********************/
:root,
body {
	color: rgba(255, 255, 255, 0.9);
	background-color: #272727;
	padding: 0;
	margin: 0;
	overflow-x: hidden;
	color-scheme: dark;
	scrollbar-color: #272727 #000000 !important;
	scrollbar-width: thin !important;
}

ul {
	list-style: none;
	display: flex;
}

svg {
	overflow: visible;
}

/*****************/
/* LAYOUT STYLES */
/*****************/
#root {
	min-height: 100vh;
	flex-direction: column;
	display: flex;
	justify-content: space-between;
}

/*****************/
/* header */

header {
	position: fixed;
	top: 1em;
	width: 100vw;
}

.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0.5em 1.5em;
	width: 80%;
	margin: auto auto 1em;
	background-color: rgba(249, 193, 207);
	box-shadow: 0.15em 0.15em 0 0 #C79AA6;
	border: #C79AA6 solid 0.15em;
	border-radius: 1em;
	overflow-x: auto;
	white-space: nowrap;
	scrollbar-color: #272727 #000000 !important;
	scrollbar-width: thin !important;
}

.header-logo {
	padding-left: 1em;
	padding-right: 1em;
	width: 4em;
	height: 4em;
}

.header-logo:hover>.shadow {
	transform: translate(1.5em, 1.5em);
	transition: transform 0.4s;
}

.header-logo:hover>.logo {
	transform: translate(-1.5em, -1.5em);
	transition: transform 0.4s;
}

.header-logo>.logo {
	transition: transform 0.4s;
}

.header-logo>.shadow {
	transition: transform 0.4s;
}

.header-menu-item {
	font-family: 'Unbounded', sans-serif;
	text-decoration: none;
	color: rgba(255, 255, 255, 0.9);
	padding: 0.25em 1em;
	transition: color 0.4s;
}

.header-menu-item.active,
.header-menu-item:hover {
	color: #272727;
	transition: color 0.4s;
}

/*****************/
/* footer */

footer {
	width: 100vw;
}

.footer {
	display: flex;
	padding: 1em 1.5em;
}